{%extends 'base_foot.html'%}

    {%block body%}
	<div class="search_bar clearfix">
		<a href="/goods/index" class="logo fl"><img src="/static/images/logo.png"></a>
		<form method="get" action="/goods/search/" target="_blank">
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
		</div>
			</form>
		<div class="guest_cart fr">
			<a href="/cart/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{cart_count}}</div>
		</div>
	</div>


{%block min%}{%endblock min%}

    {%endblock body%}