{%extends 'base_foot.html' %}

{%block body%}
    <script>

    function login(){

        $(".input_submit").attr({"value":"提交中",
                                   "onclick":""});
        {#$("#loading").show();#}
	    $.ajax({
            type: "post",
            datatype: "json",
            url: "/DBcreateOrder/returnResult/",
            data: $('#form1').serialize(),
            success: function (result) {
                alert(result.psr)
                       $(".input_submit").attr({"value":"提交",
                                   "onclick":"login()"});
                {#$("#loading").hide();#}
            }

        })

    }





</script>
    			<div class="login_form ">
				<div class="login_title clearfix">
					<h1>创建PSR到生成PCK</h1>
{#					<a href="/user/register/">立即注册</a>#}
				</div>
				<div class="form_input">
					<form method="post"  onsubmit="return check()"  id="form1">
{#					<form action="/DBcreateOrder/returnResult/" method="post" onsubmit="return check()">#}
						{%csrf_token%}
						<input type="text" name="source_process_id" class="name_input" placeholder="来源处理中心id,不填写默认1040" value="{{uname}}">
						<input type="text" name="targer_process_id" class="code_input" placeholder="目标处理中心id，不填写默认1111" >
						<div class="user_error">输入错误</div>
						<input type="text" name="sku_code" class="pass_input" placeholder="sku/poa code，不填写默认POA4235465">
						<input type="text" name="url" class="url_input" placeholder="请求地址，不填写默认测试环境" value="http://apiewms-dev.banggood.cn">
                        <h1>
{#						<input type="text" name="storage" class="cookie_input" placeholder="店铺，不填写默认获取发货仓">#}
						<select  name="storage" class="cookie_input" >
                            <option value="Airfreight">快递</option>
                            <option value="Airlift">空运</option>
                            <option value="General">常规</option>
                            <option value="Seaway">海运</option>
                            <option value="Railway">铁路</option>
                            <option value="Ground">陆运</option>
                            <option value="Vessel">快船</option>
                            <option value="快陆运">ExpressGround</option>
                        </select>
                            </h1>
                        <select name="goods_type" class="select_input">
                          <option value="0">普通</option>
                          <option value="17">FBC</option>
                          <option value="27">万邑通调拨</option>
                          <option value="28">递四方调拨</option>
                          <option value="36">三方仓调拨JD</option>
                          <option value="37">FBE</option>
                          <option value="38">IML</option>
                          <option value="39">GC</option>
                        </select>
                        <input type="text" name="product_num" class="num_input" placeholder="产品数量,不填写默认1" value="">
                        <input type="text" name="count_num" class="count_input" placeholder="生成调拨单数量，,不填写默认5" value="">
{#                        <div id="loading" style="display:none;position:fixed;z-index:20202001;top:0;left:0;height:100%;width:100%;background: rgba(0,0,0,0.2) url(https://img2.baidu.com/it/u=2791829532,2972582740&fm=253&fmt=auto&app=138&f=PNG?w=500&h=888) no-repeat fixed center;"></div>#}
						<input onclick="login()" type="button" name="" value="提交" class="input_submit" >
					</form>
				</div>
			</div>
{%endblock body%}

	
</body>
</html>