{%extends 'base_foot.html' %}

{%block body%}
    <script>
$(function(){

		name_error=false;
		pwd_error=false;
		if({{error_name}}==1){
			$('.user_error').html('用户名错误').show();
		}

		if({{error_pwd}}==1){
			$('.pwd_error').html('密码错误').show();
		}

		$('.name_input').blur(function(){

			if($('.name_input').val().length==0){

				$('.user_error').html('请输入用户名').show();
				name_error=false; <!--为什么要再设置为falese-->
			}else{
				$('.user_error').hide();
				name_error=true;
			}

		});

		$('.pass_input').blur(function(){

			if($('.pass_input').val().length==0){
				$('.pwd_error').html('密码不能为空').show();
				pwd_error=false;
			}else{
				$('.pwd_error').hide();
				pwd_error=true;
			}
		});

    	$("#upload").click(function(){
        $.get('/DBcreateOrder/returnResult',function(data){
            alert(data)
        })
		})
	});

	function check(){
			if($('.name_input').val().length==0||$('.pass_input').val().length==0){
			alert('账号和密码不能为空{{uname}}');
			return false;

			}else{
			return true;
			}

		};


    function login(){
	    $.ajax({
            type: "post",
            datatype: "json",
            url: "/DBcreateOrder/returnResult/",
            data: $('#form1').serialize,
            success: function (result) {
                alert(result.psr)
            }

        })

    };





</script>
    			<div class="login_form fl">
				<div class="login_title clearfix">
					<h1>测试不知道要测什么的</h1>
{#					<a href="/user/register/">立即注册</a>#}
				</div>
				<div class="form_input">
					<form method="post"  onsubmit="return check()"  id="form1">
{#					<form action="/DBcreateOrder/returnResult/" method="post" onsubmit="return check()">#}
						{%csrf_token%}
						<input type="text" name="source_process" class="name_input" placeholder="来源处理中心" value="{{uname}}">
						<input type="text" name="targer_process" class="code_input" placeholder="目标处理中心1" >
						<div class="user_error">输入错误</div>
						<input type="text" name="sku_code" class="pass_input" placeholder="sku/poa code">
						<input type="text" name="url" class="url_input" placeholder="请求地址" value="http://172.16.6.203:8092">
                        <h1>
						<input type="text" name="cookie" class="cookie_input" placeholder="cookie">
                            </h1>

                            <select name="goods_type" class="select_input">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
  </select>
{#						<div class="pwd_error">输入错误</div>#}
{#						<div class="more_input clearfix">#}
{#							<input type="checkbox" name="jizhu" value="1" checked="checked">#}
{#							<label>记住用户名</label>#}
{#							<a href="#">忘记密码</a>#}
{#						</div>#}
						<input onclick="login()" type="button" name="" value="登录" class="input_submit" >
					</form>
				</div>
			</div>
{%endblock body%}
	<!--<div class="footer no-mp">-->
		<!--<div class="foot_link">-->
			<!--<a href="#">关于我们</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">联系我们</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">招聘人才</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">友情链接</a>		-->
		<!--</div>-->
		<!--<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>-->
		<!--<p>电话：010-****888    京ICP备*******8号</p>-->
	<!--</div>-->
	
</body>
</html>